@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

body {
    background-color: var(--Pale-blue);
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    padding: 2.5rem;
    margin: auto 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: white;
    border-radius: 15px;
    text-align: center;
}

.hero {
    border-radius: 15px 15px 0 0;
    width: 100%;
}

.content {
    padding: 1.5rem;
    padding-top: 0;
}

.content__title {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--Dark-blue);
    margin: 1.5rem 0;
}

.content__text {
    color: var(--Desaturated-blue);
}

.content__plan {
    background-color: var(--Very-pale-blue);
    border-radius: 15px;
    padding: 1rem;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content__plan__left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__plan__left___img {
    margin-right: 1rem;
}

.content__plan__left___price {
    color: var(--Dark-blue);
    font-weight: 900;
}

.content__plan__left___price a {
    color: var(--Desaturated-blue);
    font-weight: 400;
}

.content__plan__right {
    color: var(--Bright-blue);
    font-weight: 700;
    font-size: .9rem;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: underline;
}

.content__plan__right:hover {
    color: var(--Bright-blue);
    opacity: 0.5;
    text-decoration: none;
}

.content__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content__btns___payment {
    background-color: var(--Bright-blue);
    border-radius: 15px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: none;
    box-shadow: hsl(245, 75%, 52%, 35%) 0px 5px 15px;
    transition: 0.3s;
    cursor: pointer;
}

.content__btns___payment:hover {
    background-color: var(--Bright-blue);
    opacity: 0.5;
}

.content__btns___cancel {
    background-color: transparent;
    border-radius: 15px;
    color: var(--Desaturated-blue);
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    padding: .5rem;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

.content__btns___cancel:hover {
    color: var(--Dark-blue);
}

.attribution {
    margin-top: 2rem;
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 500px) {
    main {
      width: 450px;
      margin: auto;
    }
  }

  @media (max-width: 500px) {
      body {
          background-image: url(./images/pattern-background-mobile.svg);
      }
  }